.connectParent {
    position: relative;
    /* position: absolute;
  top: 3024px;
  left: calc(50% - 860px); */
    width: min(90vw, 1720px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 1161px; */
    height: auto;
    background: radial-gradient(217.23% 100.08% at 50% 18.33%, rgba(0, 0, 0, 0) 40%, #18D777 79.5%, #FFFFFF 100%);
    border-radius: var(--br-31xl);
    margin-inline: auto;
}

.connectToToolsYouUseParent {
    /* position: absolute;
    top: 40px;
    left: calc(50% - 373px); */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}

.toolImage {
    margin-top: 2.5rem;
    margin-bottom: var(--padding-13xl);
    width: 100%;
}

/* rest are unused for now */

.rectangleParent21 {
    /* position: absolute;
  top: 0;
  left: calc(50% - 860px); */
    /* box-shadow: 0-2px 4px rgba(110, 105, 105, 0.25); */
    /* width: 1720px;
    height: 1161px; */
    width: 90%;
}

.groupChild52 {
    position: absolute;
    top: 0;
}

.groupChild52 {
    left: calc(50% - 860px);
    border-radius: var(--br-31xl);
    background: linear-gradient(transparent 50%, var(--background-color-primary));
    width: 1720px;
    height: 1161px;
}


.unionChild9 {
    /* position: absolute;
    top: 3428px;
    left: 735px; */
    border-radius: 50%;
    background-color: var(--color-dimgray);
    /* width: 450px;
    height: 450px; */
}

.stack {
    display: grid;
    place-content: center;
}

/* .stack:first-child {
    z-index: -1;
} */

.stack>* {
    grid-area: 1 / 1;
}

.union6 {
    position: relative;
    /* width: 450px; */
    width: 28rem;
    aspect-ratio: 1;
}

.unionChild10 {
    position: absolute;
}


.unionIcon20 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 336.1px;
    height: 336.1px;
}

.frameParent15 {
    /* position: absolute;
    top: calc(50% + 2rem);
    left: 50%; */
    width: 90%;
    /* transform: translate(-50%, calc(-50% + 2rem));
    width: min(100%, 1600px); */
}

.groupChild52 {
    left: calc(50% - 860px);
    border-radius: var(--br-31xl);
    background: linear-gradient(transparent 50%, var(--background-color-primary));
    width: 1720px;
    height: 1161px;
}

.groupChild52 {
    position: absolute;
    top: 0;
}

.rectangleParent22 {
    position: absolute;
    top: 147.8px;
    left: 110px;
    width: 15vw;
    height: 10vw;
}

/* .stack {
    position: relative;
} */

.unionParent9 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unionParent9 {
    position: relative;
    width: 28vw;
    height: 28vw;
}

.groupChild53 {
    position: absolute;
    top: 63.8px;
    left: 0;
    border-radius: 448.25px;
    background-color: var(--white-theme);
    width: 24.4px;
    height: 24.4px;
}

.groupChild54,
.groupChild55 {
    top: 31.9px;
    border-radius: 509.37px;
    height: 92.2px;
}

.groupChild54 {
    position: absolute;
    left: 51.5px;
    background-color: var(--white-theme);
    width: 24.4px;
}

.groupChild55 {
    left: 154.5px;
}

.groupChild55,
.groupChild56,
.groupChild57 {
    position: absolute;
    background-color: var(--white-theme);
    width: 24.4px;
}

.groupChild56 {
    top: calc(50% - 81.35px);
    left: calc(50% - 12.2px);
    border-radius: 509.37px;
    height: 162.7px;
}

.groupChild57 {
    top: 63.8px;
    left: 206px;
    border-radius: 448.25px;
    height: 24.4px;
}