.businessesWeServerParent {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-inline: auto;
}

.businessesWeServerParent {
  align-items: center;
}

.cardContentParent {
  width: 55%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}

.conversionRateOptimizationA {
  width: 30%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.transformYourLead {
  position: relative;
  font-size: 26px;
  line-height: 160%;
  display: inline-block;
}

.contentHeading {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #fff 30%,
    rgba(255, 255, 255, 0.5) 84.77%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

.businessContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: var(--gap-13xl);
}

.selfServeSection {
  box-shadow: 0 16px 80px rgba(24, 215, 119, 0.1);
  border-radius: 30px;
  background-color: var(--color-gray-300);
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  box-sizing: border-box;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: calc(var(--padding-41xl) * 0.2) calc(var(--padding-41xl) * 0.8);
  /* aspect-ratio: 16 / 10; */
}

.selfServeSectionChild {
  width: 60%;
  position: relative;
  object-fit: cover;
  display: none;
}

.togglerParent {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 30%;
  height: 70%;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-base);
  color: var(--color-slategray-100);
}

.togglerLine {
  position: relative;
  height: 60%;
  display: flex;
  align-items: center;
}

.indicatorRoot {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 25%;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-xl);
  color: var(--color-slategray-100);
}

.indicatorLineParent {
  display: none !important;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.togglerLineImg {
  max-width: 100%;
  overflow: hidden;
  height: 80%;
}

.indicatorLine {
  overflow: hidden;
  height: 80%;
}

.indicatorTextParent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-21xl);
  margin-left: var(--padding-13xl);
  justify-content: flex-start;
  width: 85%;
  align-items: flex-start;
}

.indicatorTextParent::before {
  position: absolute;
  content: "";
  height: 150%;
  left: -15%;
  top: 50%;
  transform: translate(15%, -50%);
  width: 2px;
  background: linear-gradient(0deg, #ececec80, #ececec, #ececec80);
}

.selectedItemIcon {
  position: absolute;
  display: none;
  top: 50%;
  left: 0;
  transform: translate(calc((50% + var(--padding-13xl)) * -1), -50%);
}

.selectedItem .selectedItemIcon {
  display: inline-block;
}

.saas,
.smallBusiness {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 500;
}

.saas {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 500;
}

.item {
  position: relative;
  cursor: pointer;
  color: var(--paragraph);
}

.selectedItem {
  color: #fff;
  font-weight: var(--font-weight-bold);
}

.smallBusinessParent {
  margin-left: var(--padding-13xl);
  display: flex;
  justify-content: flex-start;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.headingImageGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: fit-content;
  padding: 0.5em 0;
}

.heading img {
  width: 1.2rem;
}

.heading {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  line-height: 2ch;
  font-size: .9rem;
  color: #ececec;
}

.points {
  margin: 0.2rem 0;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.point {
  margin: 0.2rem 0;
  line-height: 2ch;
}

.integrations {
  display: flex;
  gap: 10px;
}

.integration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  width: 3.5rem;
  border: 0.5px solid #625f5f;
  padding: 0.5rem;
  aspect-ratio: 1;
  font-size: 0.5rem;
  line-height: 1.5ch;
}

.integration img {
  width: 95%;
}

.heading ~ .points {
  font-size: 0.75rem;
}

@media screen and (max-width: 1000px) {
  .transformYourLead {
    font-size: var(--font-size-xl);
  }

  .contentHeading {
    font-size: 20px;
  }

  .selfServeSection {
    padding: var(--padding-41xl) var(--padding-21xl);
  }
}

@media screen and (max-width: 700px) {
  .togglerLine {
    display: none !important;
  }
  .transformYourLead {
    font-size: var(--font-size-base);
  }

  .selfServeSection {
    padding: var(--padding-5xl) var(--padding-3xl);
  }
  .businessContainer {
    flex-direction: column;
  }

  .togglerParent {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .smallBusinessParent {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-left: 0px;
    gap: 40px;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .selectedItemIcon {
    display: none !important;
  }
  .selfServeSection {
    width: 100%;
    margin-top: 15px;
  }
  .headingImageGroup {
    width: 100%;
    display: block;
    height: fit-content;
  }
  .cardContentParent {
    width: 100%;
    font-size: 28px;
  }
  .contentHeading {
    font-size: 28px;
  }
  .conversionRateOptimizationA {
    width: 100%;
  }
}
