.faqSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  margin-inline: auto;
  gap: 20px;
  gap: var(--gap-61xl);
  font-size: var(--font-size-base);
}

.sectionMainHeading {
  line-height: 120%;
  font-family: var(--font-poppins);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fff 30%,
    rgba(255, 255, 255, 0.5) 84.77%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  text-fill-color: transparent;
  text-align: center;
  font-size: var(--font-size-35xl);
}

.faqQuestionGroup {
}

.faqAccordion {
  background: transparent;
  border: 1px solid var(--stock) !important;
  border-bottom: none;
  border-radius: 0;
  color: #ececec;
  padding: 0;
}

.faqAccordion:last-child {
  border-bottom: 1px solid var(--stock);
}

.faqAccordionIndex,
.faqAccordionExpandIcon {
  width: 5rem;
  min-height: 6rem;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faqAccordionIndex {
  border-right: 1px solid var(--stock);
}

.faqAccordionQuestion {
  flex: 1;
  padding: 0 2rem;
  width: calc(100% - 10rem);
}

.faqAccordionExpandIcon {
  margin-left: auto;
  color: var(--paragraph);
  border-left: 1px solid var(--stock);
  font-size: var(--font-size-17xl);
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
}

.faqAccordionSummary > * {
  margin: 0;
  display: flex;
  align-items: center;
}

.faqAccordionSummary > div {
  margin: 0 !important;
}

.faqAccordionSummary {
  padding: 0;
  margin: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 30%,
    rgba(255, 255, 255, 0.5) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-5xl);
  line-height: 160%;
}

@media screen and (max-width: 600px) {
  .faqSection {
    width: 95vw;
  }
  .faqAccordionQuestion {
    font-size: var(--font-size-xl);
    padding: 0 .5rem;
  }

  .faqAccordionIndex,
  .faqAccordionExpandIcon {
    width: 4rem;
    min-height: 5rem;
  }
}
