@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  margin: 0;
  line-height: normal;
  background-color: #0a0b0d;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /** font sizes */
  --font-size-base: 16px;
  /** 24px */
  --font-size-5xl: calc(var(--font-size-base) * 1.5);
  /** 32px */
  --font-size-13xl: calc(var(--font-size-base) * 2);
  /** 26px */
  --font-size-7xl: calc(var(--font-size-base) * 1.625);
  /** 54px */
  --font-size-35xl: calc(var(--font-size-base) * 3.375);
  /** 20px */
  --font-size-xl: calc(var(--font-size-base) * 1.25);
  /** 44px */
  --font-size-25xl: calc(var(--font-size-base) * 2.75);
  /** 18px */
  --font-size-lg: calc(var(--font-size-base) * 1.125);
  /** 36px */
  --font-size-17xl: calc(var(--font-size-base) * 2.25);
  /** 14px */
  --font-size-sm: calc(var(--font-size-base) * 0.875);
  /** 30px */
  --font-size-11xl: calc(var(--font-size-base) * 1.875);
  /** 34px */
  --font-size-15xl: calc(var(--font-size-base) * 2.125);
  /** 8.5px */
  --font-size-4xs-5: calc(var(--font-size-base) * 0.53125);
  /** 29.7px */
  --font-size-10xl-7: calc(var(--font-size-base) * 1.85625);
  /** 17px */
  --font-size-mid: calc(var(--font-size-base) * 1.0625);
  /** 19.1px */
  --font-size-lgi-1: calc(var(--font-size-base) * 1.19375);
  /** 25.5px */
  --font-size-6xl-5: calc(var(--font-size-base) * 1.59375);

  /** Colors */
  --stock: #2a2b3a;
  --color-gray-100: #262833;
  --color-gray-200: #182542;
  --color-gray-300: #0b0b0d;
  --black: #010314;
  --color-gray-400: rgba(11, 11, 13, 0.8);
  --color-gray-500: rgba(255, 255, 255, 0.8);
  --color-gray-600: rgba(255, 255, 255, 0.32);
  --color-gray-700: rgba(11, 11, 13, 0.1);
  --paragraph: #777990;
  --color-slategray-100: #77798f;
  --color-slategray-200: #575c79;
  --white-theme: #fff;
  --secondary-color: #39e991;
  --primary-color: #18d777;
  --secondary-white: #bbb;
  --color-dimgray: #707070;
  --background-secondary: #3c3f50;
  --color-darkslategray-100: #2a2d39;
  --color-darkslategray-200: rgba(60, 63, 80, 0.2);
  --color-black: #000;
  --color-aquamarine: rgba(103, 238, 170, 0.08);

  /** Gaps */
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-9xl: 28px;
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-mini: 15px;
  --gap-13xl: 32px;
  --gap-61xl: 80px;
  --gap-xs: 12px;
  --gap-base: 16px;
  --gap-21xl: 40px;
  --gap-53xl: 72px;
  --gap-58xl: 77px;
  --gap-71xl: 90px;
  --gap-7xs: 6px;
  --gap-lg: 18px;
  --gap-12xl-8: 31.8px;
  --gap-base-9: 15.9px;
  --gap-7xs-3: 5.3px;
  --gap-10xs-1: 2.1px;
  --gap-23xl-4: 42.4px;
  --gap-25xl: 44px;
  --gap-28xl: 48px;
  --gap-30xl: 50px;
  --gap-35xl: 54px;
  --gap-40xl: 60px;
  --gap-193xl-2: 212.2px;
  --gap-2xl-2: 21.2px;
  --gap-smi-7: 12.7px;
  --gap-3xl: 22px;

  /** Paddings */
  --padding-21xl: 40px;
  --padding-41xl: 60px;
  --padding-81xl: 100px;
  --padding-base: 16px;
  --padding-13xl: 32px;
  --padding-3xl: 22px;
  --padding-31xl: 50px;
  --padding-5xl: 24px;
  --padding-181xl: 200px;
  --padding-5xs: 8px;
  --padding-sm: 14px;
  --padding-8xs-2: 4.2px;
  --padding-7xs-3: 5.3px;
  --padding-2xs-6: 10.6px;
  --padding-mini-9: 14.9px;
  --padding-6xl-5: 25.5px;

  /** Border radiuses */
  --br-21xl: 40px;
  --br-429xl-3: 448.3px;
  --br-490xl-4: 509.4px;
  --br-31xl: 50px;
  --br-11xs: 2px;
  --br-xl: 20px;
  --br-81xl: 100px;
  --br-87xl-1: 106.1px;
  --br-34xl-1: 53.1px;
  --br-7xs-3: 5.3px;
  --br-15xl-3: 34.3px;
  --br-20xl: 39px;
  --br-2xs-6: 10.6px;
  --br-6xl-5: 25.5px;
  --br-12xl-8: 31.8px;
  --br-23xl: 42px;

  --blur-amount: 264px;
  --background-color-primary: #18d777;
  --background-color-secondary: rgba(111, 60, 247, 0);
  --background-color-black: #000;
  --box-shadow: 0 0 10px rgba(119, 68, 255, 0.7);
  --border-radius-1: var(--br-31xl);
  --border-radius-2: var(--br-21xl);
  --border-radius-3: 25.46px;
  --border-radius-4: 31.83px;
  --border-radius-5: 50%;
  --border-radius-6: var(--br-23xl);
  --border-radius-7: var(--br-11xs);
  --primary-color: #18d777;
  --primary-gradient: linear-gradient(
    180deg,
    var(--background-color-secondary) 82.44%,
    var(--background-color-primary)
  );
  --transparent-gradient: linear-gradient(
    transparent 50%,
    var(--background-color-primary) 100%
  );
  --text-gradient: linear-gradient(94.85deg, #18d777 6.96%, #67eeaa 95.58%);
  --gray-color: var(--color-gray-400);
  --white-color: var(--white-theme);
  --font-weight-bold: 500;
  --letter-spacing: 0.4em;
  --line-height-160: 160%;
  --line-height-120: 120%;
}

@media screen and (max-width: 1200px) {
  :root {
    --font-size-base: 14px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --font-size-base: 10px;
  }
}
