.landingPage,
.landingPage * {
  font-family: var(--font-poppins);
}

.getStartedFor {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
}

.button {
  border-radius: var(--br-21xl);
  background-color: var(--black);
  border: 2px solid #2a2a2a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-21xl);
  color: var(--white-theme);
  font-size: var(--font-size-lg);
  cursor: pointer;
}

.headerAuthGroup:nth-child(1),
.signUpWrapper:focus,
.button:focus {
  box-shadow: 0 0 5px #44ffecb3;
  border: 2px solid #44ffecb3;
}

.buttonInnerIcon {
  width: 18px;
  position: relative;
  border-radius: var(--br-11xs);
  height: 20px;
  object-fit: contain;
}

.buttonWithIcon {
  display: flex;
  gap: var(--gap-xs);
}

.buttonWithIcon {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.heroSection {
  margin: 5rem;
  align-items: flex-start;
  gap: var(--gap-3xl);
}

.heroButton {
  box-shadow: 0 0 10px rgba(119, 68, 255, 0.7);
  border-radius: var(--br-21xl);
  background-color: var(--black);
  border: 1.5px solid var(--primary-color);
  justify-content: center;
  padding: 10px 25px;
  font-size: var(--font-size-base);
  gap: var(--gap-3xs);
  color: var(--white-theme);
  margin: 4% 3% 0 3%;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuItem {
  cursor: pointer;
}

.menuItem:hover {
  color: #fff;
}

@media screen and (max-width: 1500px) {
  .footerLinks {
    gap: var(--gap-25xl) !important;
  }
}

@media screen and (max-width: 1200px) {

  .footerLinks {
    gap: 2ch;
    justify-content: space-between;
    flex: 1;
  }

}

.heroStars {
  position: absolute;
  top: 2%;
  right: 0%;
  width: 18rem;
  height: 16rem;
}

.heroStars2 {
  position: absolute;
  bottom: 6%;
  left: 5%;
  width: 25%;
  transform: translate(-6%, 5%);
}

.footerIcon {
  width: clamp(100px, 30%, 150px);
}

.footerText {
  width: min(413px, 30vw);
  position: relative;
  line-height: 140%;
  font-weight: 500;
  background: linear-gradient(#ecececcc, #ececec, #ecececcc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: var(--font-size-2xl);
}

.footerBrandText {
  width: 37px;
  position: relative;
  font-size: var(--font-size-base);
  display: none;
}

.footerLogoTextParent {
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.footerLinksHeader {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}

.footerLink {
  position: relative;
  line-height: 160%;
  white-space: nowrap;
  display: inline-block;
}

.footerLinkGroup,
.footerLinksColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footerLinkGroup {
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
  color: var(--paragraph);
}

.footerLinksColumn {
  gap: var(--gap-base);
}

.footerButtonInnerIcon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

.footerLinkButton {
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-gray-600);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-sm);
  gap: var(--gap-7xs);
  font-size: var(--font-size-mid);
  background: transparent;
  color: var(--paragraph);
}

.footerLinks,
.footerLinkButtonGroup {
  align-items: flex-start;
  justify-content: space-between;
}

.footerLinkButtonGroup {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--paragraph);
}

.footerLinks {
  gap: var(--gap-71xl);
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}

.footerContainer,
.footerLinks,
.links4 {
  display: flex;
  flex-direction: row;
}

.footerContainer {
  width: 90%;
  align-items: flex-end;
  justify-content: space-between;
  margin-inline: auto;
  gap: var(--gap-xl);
}

.footerContainer>* {
  margin-inline: auto;
}

.links4 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}

.footerBottomContainer,
.footer {
  display: flex;
  align-items: center;
}

.footerBottomContainer {
  width: 100%;
  background-color: var(--color-gray-300);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-5xl) 6.5%;
  gap: var(--gap-5xs);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  color: var(--paragraph);
}

.footer {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-58xl);
  font-size: var(--font-size-11xl);
  color: var(--white-theme);
  padding-top: 12rem;
  background: linear-gradient(transparent 65%,
      var(--background-color-primary) 100%);
  padding-bottom: 1rem;
}

.unionIcon10 {
  position: relative;
  width: 1521px;
  height: 591px;
}

.div {
  position: relative;
  line-height: 160%;
  font-weight: 500;
  background: radial-gradient(50% 50%at 50% 50%,
      #fff 30%,
      rgba(255, 255, 255, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-53xl);
}

.unionIcon11 {
  width: 23px;
  position: relative;
  height: 23px;
}

.frameParent7 {
  position: absolute;
  top: 41px;
  left: 32px;
  width: 1454px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.div1,
.doesItSupport {
  position: absolute;
  top: 159px;
  left: 32px;
  line-height: 160%;
  font-weight: 500;
  background: radial-gradient(50% 50%at 50% 50%,
      #fff 30%,
      rgba(255, 255, 255, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.doesItSupport {
  left: 130px;
}

.unionIcon12 {
  top: 159px;
  right: 35px;
  position: absolute;
  width: 23px;
  height: 23px;
}

.unionIcon12:nth-of-type(2) {
  top: calc(159px + 118px);
  right: 35px;
}

.unionIcon12:nth-of-type(3) {
  top: calc(159px + 118px * 2);
  right: 35px;
}

.unionIcon12:nth-of-type(4) {
  top: calc(159px + 118px * 3);
  right: 35px;
}

.canMultipleTeam,
.div2,
.div3,
.div4,
.doINeed,
.willIBe {
  position: absolute;
  top: 277px;
  left: 32px;
  line-height: 160%;
  font-weight: 500;
  background: radial-gradient(50% 50%at 50% 50%,
      #fff 30%,
      rgba(255, 255, 255, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.canMultipleTeam,
.div3,
.div4,
.doINeed,
.willIBe {
  left: 130px;
}

.canMultipleTeam,
.div3,
.div4,
.willIBe {
  top: 395px;
  left: 32px;
}

.canMultipleTeam,
.div4,
.willIBe {
  left: 130px;
}

.canMultipleTeam,
.div4 {
  top: 513px;
  left: 32px;
}

.canMultipleTeam {
  left: 130px;
}

.unionParent4 {
  width: 1521px;
  position: relative;
  height: 591px;
  font-size: var(--font-size-5xl);
}

.faqSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}

.faqItem {
  border-bottom: 1px solid #555;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqItem:last-child {
  border-bottom: none;
}

.faqItem h3 {
  margin: 0;
  font-weight: normal;
}

.faqItem .number {
  font-weight: bold;
  margin-right: 10px;
}

.faqItem .toggle {
  cursor: pointer;
}

.groupIcon {
  width: 100%;
}

.logosIcon {
  width: 1521px;
  position: relative;
  height: 281px;
}

.logoAndBgParent img {
  max-width: 100%;
  object-fit: contain;
}

.logoAndBgParent {
  align-items: center;
  width: min(80vw, 1600px);
}

.logoAndBgParent,
.stack {
  display: grid;
  place-content: center;
}

.logoAndBgParent>*,
.stack>* {
  grid-area: 1 / 1;
}

.trustedBy100BusinessesParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-61xl);
}

.sectionMainHeading {
  line-height: 120%;
  background: radial-gradient(50% 50%at 50% 50%,
      #fff 30%,
      rgba(255, 255, 255, 0.5) 84.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--font-size-25xl);
}

.sectionSubHeading {
  max-width: 46rem;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 160%;
  text-align: center;
  display: inline-block;
}

.minuteSetUpProcessParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.targetIcon {
  width: 100px;
  position: relative;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
}

.unionIcon16 {
  width: 27.4px;
  position: relative;
  height: 26px;
}

.whatDoWeOfferCardTitleParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}

.chooseGoalFor {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-17xl);
  line-height: 120%;
  font-weight: 500;
  background: radial-gradient(50% 50%at 50% 50%,
      #fff 30%,
      rgba(255, 255, 255, 0.5) 84.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.frameParent11 {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}

.backgroundParent,
.targetParent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}

.targetParent {
  flex-direction: row;
  gap: var(--gap-21xl);
  z-index: 1;
}

.backgroundParent {
  width: 728px;
  height: 180px;
  flex-direction: column;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}

.plugsconnectedIcon {
  width: 90px;
  position: relative;
  height: 90px;
  overflow: hidden;
  flex-shrink: 0;
}

.buttonGroup,
.buttonInner,
.frameParent10 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.frameParent10 {
  width: 80%;
  flex-wrap: wrap;
  font-size: var(--font-size-base);
  color: var(--primary-color);
  gap: var(--gap-40xl);
}

.buttonGroup,
.buttonInner {
  justify-content: center;
}

.buttonInner {
  width: 245px;
  border-radius: var(--br-21xl);
  background-color: var(--black);
  border: 1.5px solid var(--stock);
  box-sizing: border-box;
  height: 68px;
  padding: var(--padding-3xl) var(--padding-21xl);
}

.buttonGroup {
  gap: var(--gap-5xl);
  font-size: var(--font-size-lg);
  color: var(--white-theme);

}

.frameParent9 {
  align-items: center;
  flex-wrap: wrap;
}

.frameParent8,
.frameParent9,
.trustedSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}

.frameParent8 {
  align-items: center;
  gap: 180px;
}

.trustedSection {
  align-items: center;
  text-align: center;
}

.landingPageChild2 {
  position: absolute;
  top: 919.4px;
  left: calc(50% - 730px);
  width: 1461px;
  height: 186.8px;
  display: none;
}

.headerBrandIcon {
  width: 6.875rem;
  position: relative;
  height: auto;
  object-fit: cover;
}

.headerInner {
  width: 296px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (max-width: 1000px) {
  .footerText {
    width: 80%;
  }

  .whatOurCard[data-dir="left"],
  .whatOurCard[data-dir="right"],
  .whatOurCard[data-active="true"] {
    position: relative !important;
    transform: none;
  }

  .header .headerAuthGroup,
  .header .headerMenu {
    display: none;
  }

  .header .togglerRoot {
    display: inline-block;
  }

  .header {
    padding: 15px 30px !important;
  }

  .headerInner {
    width: 7rem;
  }

  .headerBrandIcon {
    width: 7rem;
    height: auto;
  }

  .footerLogoTextParent {
    min-width: 20% !important;
  }

  .footerContainer {
    flex-wrap: wrap;
  }

  .footerBottomContainer {
    padding: var(--padding-sm) var(--padding-5xl);
  }

  .footer .footerLinkGroup {
    text-align: left;
  }

  .footerLinks {
    gap: 1ch !important;
  }

}

@media screen and (max-width: 600px) {
  .footerButtonInnerIcon {
    width: 15px;
    height: 15px;
  }
  .trustedSection {
    max-width: 95%;
    margin-inline: auto;
  }

  .whatDoWeOfferCardImg {
    width: 100% !important;
  }

  .whatDoWeOfferCard {
    flex-wrap: wrap;
    justify-content: center !important;
  }

  .buttonInnerIcon {
    width: 10px;
    height: 12px;
  }

  .button {
    border-radius: var(--br-xl);
    padding: var(--padding-2xs-6) var(--padding-sm);
  }

  .footerBottomContainer {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footerLink {
    font-size: calc(var(--font-size-base) * 0.8);
  }
}

.headerMenu,
.signInWrapper {
  border-radius: var(--br-21xl);
  align-items: center;
  justify-content: center;
}

.headerMenu {
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-13xl);
  gap: var(--gap-21xl);
  font-size: calc(var(--font-size-base) * 0.8);
  list-style: none;
}

.header .menuToggler {
  background: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/menu.svg");
}

.togglerRoot {
  display: none;
}

.signInWrapper {
  width: 138px;
  border: 1px solid var(--stock);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-21xl);
}

.headerAuthGroup,
.signInWrapper,
.signUpWrapper {
  display: flex;
  flex-direction: row;
}

.signUpWrapper {
  border-radius: var(--br-21xl);
  border: 2px solid #2a2a2a;
  align-items: center;
  justify-content: center;
  padding: calc(var(--padding-base) * 0.8) calc(var(--padding-21xl) * 0.8);
  background: transparent;
  color: var(--white-theme);
}

.headerAuthGroup {
  align-items: flex-start;
  justify-content: flex-start;
  gap: calc(var(--gap-base) * 0.8);
  color: var(--white-theme);
}

.header {
  background-color: var(--black);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base) calc(var(--padding-81xl) * 0.8);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}

.whatDoWeOfferHeadingParent {
  width: 100%;
  margin-inline: auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-35xl);
  color: var(--paragraph);
}

.whatDoWeOfferCardImg {
  width: 40%;
  position: relative;
  height: auto;
  object-fit: cover;
}

.whatDoWeOfferCardTitle,
.whatDoWeOfferCardText {
  position: relative;
  line-height: 160%;
}

.whatDoWeOfferCardTitle {
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-weight: 500;
}

.whatDoWeOfferCardText {
  width: 100%;
  font-size: var(--font-size-xl);
  text-align: left;
  display: inline-block;
}

.whatDoWeOfferCardBody,
.whatDoWeOfferCardInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.whatDoWeOfferCardBody {
  width: 100%;
  gap: var(--gap-5xs);
  font-size: var(--font-size-13xl);
  color: var(--paragraph);
}

.whatDoWeOfferCardInner {
  width: clamp(300px, 40%, 600px);
  gap: var(--gap-xl);
}

.whatDoWeOfferCard {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.whatOurClientsAreSayingSection {
  position: relative;
  width: 99%;
}

.whatDoWeOfferSection,
.whatOurClientsAreSayingParent {
  width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.whatDoWeOfferSection {
  align-items: flex-start;
  gap: var(--gap-61xl);
  font-size: var(--font-size-base);
  color: var(--primary-color);
}

.whatOurClientsAreSayingParent {
  align-items: center;
  gap: var(--gap-5xs);
}

.whatOurCardContent {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 160%;
  text-align: left;
  display: inline-block;
}

.selfServeCustomerSupportParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.frameChild17 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 1px;
}

.frameChild18 {
  width: 72px;
  position: relative;
  border-radius: 50%;
  height: 72px;
  object-fit: cover;
}

.cardAuthorname {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--font-size-base);
}

.cardAuthorAbout {
  position: relative;
  font-size: calc(var(--font-size-base) * 0.8);
  line-height: 160%;
  color: var(--paragraph);
}

.cardAuthornameParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}

.cardAuthornameParent,
.ellipseParent4,
.whatOurClientCardBody {
  display: flex;
  justify-content: flex-start;
}

.ellipseParent4 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--white-theme);
}

.whatOurClientCardBody {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
  z-index: 1;
}

.whatOurCardGroup {
  position: relative;
  max-width: 100%;
  padding: 4rem;
  display: flex;
  align-items: center;
  gap: var(--gap-25xl);
  justify-content: space-between;
  font-size: var(--font-size-13xl);
  color: var(--white-theme);
  overflow-x: auto;
}

.whatOurCardGroup::-webkit-scrollbar {
  display: none;
  height: 0;
  -webkit-appearance: none;
  width: 0;
}

.whatOurCard {
  position: relative;
  min-width: min(70%, 30rem);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--br-xl);
  padding: 2rem calc(var(--padding-41xl) * 1.5);
  text-align: left;
  background-color: #0b0b0d;
  border-top: 3px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  gap: var(--gap-3xs);
  color: var(--paragraph);
  transition: 1s all ease;
}

.whatOurCard[data-active="true"] {
  background-image: linear-gradient(to right,
      var(--background-color-primary) 0%,
      transparent 6%);
  position: relative;
  box-shadow: -20px 0 50px #18d77730, 20px 0 50px #18d77730;
  transform: scale(1.1);
  margin: 0 calc(var(--padding-41xl) * 0.6);
}

.whatOurCardTitle {
  font-size: var(--font-size-5xl);
}

.landingPage {
  width: 100%;
  position: relative;
  height: auto;
  text-align: left;
  font-size: var(--font-size-35xl);
  color: var(--paragraph);
  font-family: var(--font-poppins);
}

.landingPage>* {
  margin-top: 180px;
}

.landingPage>.header,
.landingPage>*:nth-child(2),
.landingPage>.footer {
  margin-top: unset;
}